<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habitz</title>
    <link rel="stylesheet" href="/css/homePage.css" />
    <script
      src="https://kit.fontawesome.com/a12139185a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="dashboard">
      <div class="sideSect">
        <img src="/assets/logo.png" alt="logo-name" />

        <div class="user">
          <img src="/assets/user.png" alt="user-logo" />
        </div>

        <div class="menu1">
          <nav>
            <ul>
              <a href="/dashboard">
                <li>
                  <span>
                    <i class="fa-solid fa-house fa-xl"></i>
                  </span>
                  <span>Home</span>
                </li>
              </a>
              <a href="/dashboard/stats">
                <li>
                  <span>
                    <i class="fa-solid fa-chart-simple fa-xl"></i>
                  </span>
                  <span>Stats</span>
                </li>
              </a>
              <li>
                <span>
                  <i class="fa-solid fa-bolt fa-xl"></i>
                </span>
                <span>Habits</span>
              </li>
              <li>
                <span>
                  <i class="fa-solid fa-compass fa-xl"></i>
                </span>
                <span>Explore</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="menu2">
          <h2>Insights</h2>
          <ul>
            <li>
              <span>
                <i class="fa-solid fa-book-open fa-xl"></i>
              </span>
              <span>Article</span>
            </li>
            <li>
              <span>
                <i class="fa-solid fa-bookmark fa-xl"></i>
              </span>
              <span>Bookmark</span>
            </li>
          </ul>
        </div>
        <div>
          <form action="/">
            <button class="backButton" type="submit">
              <i class="fa-solid fa-chevron-left fa-xl"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="sideSect2">


     